################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/api/.vs/api/FileContentIndex/dd0e8851-d00d-4fb6-b01f-c6945baff1ad.vsidx
/api/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/api/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
/api/api/obj/Release/net8.0/api.AssemblyInfo.cs
/api/.vs/api/FileContentIndex/1dd3dde1-9800-4f46-a337-8fd21f4fa316.vsidx
/api/api/obj/Release/net8.0/api.AssemblyInfoInputs.cache
/api/.vs/api/FileContentIndex/064e72c9-5828-4f0c-9e6d-039031c8b256.vsidx
/api/.vs/api/FileContentIndex/5f1c5964-6862-4930-906a-54ae1dfe7b24.vsidx
/api/.vs/api/config/applicationhost.config
/api/.vs/api/FileContentIndex/547760e5-da2d-4317-b944-0d8db428a74f.vsidx
/api/api/bin/Debug/net8.0/api.staticwebassets.endpoints.json
/api/api/bin/Debug/net8.0/Microsoft.OpenApi.dll
/api/api/bin/Debug/net8.0
/api/api/obj/Debug/net8.0
/api/.vs/api
/api/api/obj/api.csproj.nuget.dgspec.json
/api/api/obj/api.csproj.nuget.g.props
/api/api/obj/project.assets.json
/api/api/obj/project.nuget.cache
/.vs/dotnot_api/v17/.wsuo
/.vs/dotnot_api/v17/DocumentLayout.json
/api/.vs/ProjectEvaluation/api.metadata.v9.bin
/api/.vs/ProjectEvaluation/api.projects.v9.bin
/api/.vs/ProjectEvaluation/api.strings.v9.bin
